# Ignore build files
build/

# CMake files
CMakeCache.txt
CMakeFiles/

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs and other temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db
